table, td {
border: 1px solid black;
border-collapse: collapse;
}
td {
text-align: center;
vertical-align: middle;
}

tr:first-child {
background-color: #388f8f;
}
tr:nth-child(2) {
background-color: #f5f538;
}
tr:first-child:hover {
background: #781DE0;
color: #fff;
}
tr:nth-child(2):hover {
background: #F75614;
color: #fff;
}
.task2 .square {
width: 100px;
height: 100px;
border-radius: 20px;
box-sizing: border-box;
}
.task2 .square_yellow {
border: 3px double #311905;
background: rgba(241, 147, 70, 0.5);
}
.task2 .square_pink {
border: 3px double #372424;
background: rgba(212, 135, 220, 0.5);
}
.task2_position {
position: relative;
margin-bottom: 50px;
display: inline-block;
}
.task2_position .task21 {
position: absolute;
top: 50%;
left: 50%;
}
.task2_transform .task22 {
transform: translate(50%, -50%);
}