#users {
display: flex;
flex-direction: row;
flex-wrap: wrap;
margin: 15px;
}
#user {
display: flex;
flex-direction: row;
box-shadow: 2px 2px 2px pink, -2px -2px 2px pink;
padding: 15px;
margin: 5px;
min-width: 250px;
}
#user span {
margin-left: 15px;
}
#user img {
width: 72px;
height: 72px;
}